*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* inizio container */
.container{
    width: 80%;
    margin: auto;
}

/* inizio header */
header{
    height: 100px;
    background-color: rgb(230, 121, 230);
    margin: 20px 0 20px;
}

/* inizio main */
.jumbotron{
    height: 400px;
    background-color: rgb(225, 214, 122);
    margin-bottom: 20px;
}
